@page
@model DigitaalProgrammaBoekje.Pages.Database.Products.Index

@{
    Layout = null;
}

<h1>Display Products</h1>

<a asp-page="@nameof(Create)">Create New Product</a>

<table>
    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>
                <a asp-page="@nameof(Delete)" asp-route-productId="@product.ProductId">Delete</a> | 
                <a asp-page="@nameof(Update)" asp-route-productId="@product.ProductId">Update</a> 
            </td>
        </tr>
    }
    </tbody>
</table>