@page
@model DigitaalProgrammaBoekje.Pages.Aanmeld

@{
    Layout = null;
}
<div>
    @if (Model.Gebruikers.Count() != 0)
    {
        <h1>Aangemelde Orkesten</h1>
        <table>
            <thead>
            <th>Email</th>
            <th>Naam</th>
            <th>Telefoonnummer</th>
            <th>Dirigent</th>
            <th>Leden aantal</th>
            </thead>
            <tbody>
            @foreach (var gebruikers in Model.Gebruikers)
            {
                <td>@gebruikers.email</td>
                <td>@gebruikers.naam</td>
                <td>@gebruikers.telefoonnummer</td>
                <td>@gebruikers.dirigent</td>
                <td>@gebruikers.Leden_aantal</td>
            }
            </tbody>
        </table>
    }
    else
    {
        <h1>Er is niemand aangemeld</h1>
    }
</div>