@page
@using Org.BouncyCastle.Asn1.X509
@using DigitaalProgrammaBoekje.Pages.Database.Models
@using System.Net.Mime
@using DigitaalProgrammaBoekje.Pages.Database.Repositories
@model DigitaalProgrammaBoekje.Pages.EditScreen

@{
    ViewData["Title"] = "Edit Page";
}
@{ int number1 = 1; }
<div class="d-flex flex-row">
<div class="col-3" style="margin: 10px">
    <table class="table table-bordered align-right">
        <thead>
        <tr>
        <th class="col-3">Orkestnaam</th>
        <th class="col-1">Punten</th>
        <tr>
        </thead>

        @foreach (var blok in Model.Bloks)
        {
            if (blok.Blok_type == 'o')
            {
                <tbody>
                <td>
                    @blok.Orkestgroep.Orkestnaam
                </td>
                <form method="post" asp-page-handler="UpdateCijfer">
                    <td>
                        <input type="number" name="Number" value="@blok.Orkestgroep.Cijfer"/>
                        <input type="hidden" name="Orkest_id" value="@blok.Orkestgroep.Orkest_id"/>
                        <button type="submit">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                    </td>
                </form>
                </tbody>
            }
        }

    </table>
</div>

<div class="col-2" style="width: 320px; overflow: auto">
    <table class="table">
        @foreach (var blok in Model.Bloks)
        {
            <tbody>
            <tr>
                <td>
                    <div class="d-flex; flex-column">
                        @if (blok != Model.Bloks.First())
                        {
                            <form method="post" asp-page-handler="Up">
                                <input type="hidden" value="@blok.Blok_id" name="blok_id"/>
                                <input type="hidden" value="@blok.Bloknummer" name="bloknummer"/>
                                <input type="hidden" value="@blok.Festival_id" name="festival_id"/>
                                <button type="submit">
                                    <i class="fa fa-arrow-up"></i>
                                </button>

                            </form>
                        }
                        @if (blok != Model.Bloks.Last())
                        {
                            <form method="post" asp-page-handler="Down">
                                <input type="hidden" value="@blok.Blok_id" name="blok_id"/>
                                <input type="hidden" value="@blok.Bloknummer" name="bloknummer"/>
                                <input type="hidden" value="@blok.Festival_id" name="festival_id"/>
                                <button type="submit">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                            </form>
                        }
                    </div>
                </td>
                @if (blok.Blok_type != 't')
                {
                    <td>@(blok.Begintijd.ToString(@"hh\:mm"))</td>
                    @if (blok.Blok_type == 'o')
                    {
                        <td >
                            @blok.Orkestgroep.Orkestnaam
                            <br/>
                            <p style="white-space: pre-wrap;">@blok.Orkestgroep.Muziekstukken</p>
                        </td>
                        <td>
                            Cijfer:<br/>
                            @blok.Orkestgroep.Cijfer
                        </td>
                    }
                    else
                    {
                        <td colspan="2">Pauze</td>
                    }
                }
                else
                {
                    <td colspan="3" style="white-space: pre-wrap; text-align: center">@blok.Tekstvak</td>
                }
                <td>
                    <div class="d-flex; flex-column">
                        <form method="post" asp-page-handler="Update">
                            <input type="hidden" value="@blok.Blok_id" name="blok_id"/>
                            <button type="submit">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </form>
                        <form method="post" asp-page-handler="Delete">
                            <input type="hidden" value="@blok.Blok_id" name="blok_id"/>
                            <button type="submit">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>

                    </div>
                </td>
            </tr>
            </tbody>
        }
    </table>
    <div class="row">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                @foreach (var reclame in Model.Reclamelist)
                {
                    if (reclame == Model.Reclamelist.First())
                    {
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    }
                    else
                    {
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="@number1"></button>
                        number1 = number1 + 1;
                    }
                }
            </div>

            <div class="carousel-inner">
                @foreach (var reclame in Model.Reclamelist)
                {
                    if (reclame == Model.Reclamelist.First())
                    {
                        <div class="carousel-item active col">
                            <div style="display: flex; justify-content: center; margin: 5px">
                                <form method="post" asp-page-handler="DeleteReclame">
                                    <input type="hidden" name="Bedrijf_id" value="@reclame.Bedrijf_id"/>
                                    <input type="hidden" name="Bedrijf_id" value="@reclame.Festival_id"/>
                                    <button type="submit">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                </form>
                            </div>
                            <a href="iets">
                                <img src="~/content/@reclame.Foto_link" class="d-block" style="width: 100%"/>
                            </a>

                        </div>
                    }
                    else
                    {
                        <div class="carousel-item col">
                            <div style="display: flex; justify-content: center; margin: 5px">
                                <form method="post" asp-page-handler="DeleteReclame">
                                    <input type="hidden" name="Bedrijf_id" value="@reclame.Bedrijf_id"/>
                                    <input type="hidden" name="Bedrijf_id" value="@reclame.Festival_id"/>
                                    <button type="submit">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                </form>
                            </div>
                            <a href="iets">
                                <img src="~/content/@reclame.Foto_link" class="d-block" style="width: 100%"/>

                            </a>
                        </div>
                    }
                }
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <div class="row">
        @if (Model.Jurylist != null)
        {
            foreach (var Jurylid in Model.Jurylist)
            {
                <div class="col-3" id="cart" style="width: 320px;">
                    <div class="card" style="width: 320px;">
                        <img class="card-img-top" id="FImg1" style="object-fit: fill; height: 150px; width: 300px;" src="~/content/@Jurylid.jury_foto" alt="Card image cap">
                        <div class="card-body" style="width: 320px;">
                            <h5 class="card-title" style="margin: 0px">@Jurylid.jury_naam</h5>
                            <p class="card-text" style="resize: none; white-space:  pre-wrap;">@Jurylid.jury_bio</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex; flex-column">
                    <form method="post" asp-page-handler="Updatejury">
                        <input type="hidden" value="@Jurylid.jury_id" name="jury_id"/>
                        <button type="submit">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </form>
                    <form method="post" asp-page-handler="Unassignjury">
                        <input type="hidden" value="@Jurylid.jury_id" name="jury_id"/>
                        <button type="submit">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>

                </div>
            }
        }
    </div>
</div>
<div class="row col-8">
    @if (Model.Blok_id == 0)
    {
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-Text-list" data-bs-toggle="list" href="#list-Text" role="tab" aria-controls="list-Text">Tekstvak</a>
                <a class="list-group-item list-group-item-action" id="list-pauze-list" data-bs-toggle="list" href="#list-pauze" role="tab" aria-controls="list-pauze">Pauze</a>
                <a class="list-group-item list-group-item-action" id="list-orkest-list" data-bs-toggle="list" href="#list-orkest" role="tab" aria-controls="list-orkest">Orkest</a>
                <a class="list-group-item list-group-item-action" id="list-jury-list" data-bs-toggle="list" href="#list-jury" role="tab" aria-controls="list-jury">Jury</a>
                <a class="list-group-item list-group-item-action" id="list-reclame-list" data-bs-toggle="list" href="#list-reclame" role="tab" aria-controls="list-reclame">Reclame</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a>
            </div>
        </div>
    }
    else
    {
        <a href="/EditScreen">Nieuwe</a>
    }
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade @Model.active_tekstvak" id="list-Text" role="tabpanel" aria-labelledby="list-Text-list">
                <form method="post" name="TextNotes" id="TextNotes">
                    <div class="row">
                        <textarea name="Text1" id="Text1" cols="60" rows="10" form="TextNotes">@Model.Text</textarea>
                    </div>
                    <div class="row">
                        <input type="hidden" asp-for="Blok.Festival_id" value="@Model.Festival_id"/>
                        <input type="hidden" asp-for="Blok.Blok_id" value="@Model.Blok_id"/>
                        <input type="hidden" asp-for="Blok.Blok_type" value="t"/>
                        <input type="hidden" asp-for="Blok.Begintijd" value="@TimeSpan.Zero"/>
                        <button asp-page-handler="save">opslaan</button>
                        <button asp-page-handler="remove">verwijder</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade @Model.active_pauze" id="list-pauze" role="tabpanel" aria-labelledby="list-pauze-list">
                <form method="post" name="TextNotes" id="TextNotes">
                    <input type="Time" asp-for="Blok.Begintijd" value="@Model.Time"/>
                    <input type="hidden" asp-for="Blok.Blok_id" value="@Model.Blok_id"/>
                    <input type="hidden" asp-for="Blok.Blok_type" value="p"/>
                    <input type="hidden" asp-for="Blok.Festival_id" value="@Model.Festival_id"/>
                    <div class="row">
                        <button asp-page-handler="save">opslaan</button>
                        <button asp-page-handler="remove">verwijder</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade @Model.active_orkest" id="list-orkest" role="tabpanel" aria-labelledby="list-orkest-list">
                <form method="post" name="Text2Notes" id="Text2Notes">
                    <input type="Time" asp-for="Blok.Begintijd" value="@Model.Time"/>
                    <input type="Text" asp-for="Blok.Orkestgroep.Orkestnaam" value="@Model.OrkestNaam"/>
                    <input type="number" asp-for="Blok.Orkestgroep.divisie" value="@Model.Divisie"/>
                    <input type="hidden" asp-for="Blok.Festival_id" value="@Model.Festival_id"/>
                    <div class="row">
                        <textarea name="Text2" id="Text2" cols="60" rows="10" form="Text2Notes">@Model.Text</textarea>
                    </div>
                    <div class="row">
                        <input type="hidden" asp-for="Blok.Blok_id" value="@Model.Blok_id"/>
                        <input type="hidden" asp-for="Blok.Blok_type" value="o"/>
                        <input type="hidden" asp-for="Blok.Orkestgroep.Orkest_id" value="@Model.Orkest_id"/>

                        <button asp-page-handler="save">opslaan</button>
                        <button asp-page-handler="remove">verwijder</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade @Model.active_jury" id="list-jury" role="tabpanel" aria-labelledby="list-jury-list">
                <form method="post" name="TextJuryNotes" id="TextJuryNotes" enctype="multipart/form-data">
                    <input type="Text" asp-for="Jurylid.jury_naam" value="@Model.Jurynaam"/>
                    <div class="row">
                        <textarea name="TextJury" id="TextJury" cols="60" rows="10" form="TextJuryNotes">@Model.Jurybio</textarea>
                    </div>
                    <div class="row">
                        <label id="Label1">Jury Foto</label>
                        <span class="kop spacing">Selecteer Jury foto:</span>
                        <input for="photoButton" id="input1" type="file" name="frontPosted" class="photoButton" accept="image/jpeg, image/png, image/jpg, image/jfif"/>
                    </div>
                    <div class="row">
                        <input type="hidden" asp-for="Jurylid.jury_id" value="@Model.Jury_id"/>
                        <input type="hidden" asp-for="Jurylid.jury_foto" value="@Model.Juryfoto"/>
                        <input type="hidden" name="Festival_id" value="@Model.Festival_id"/>
                        <input type="submit" id="knop" value="Voeg Toe" style="background-color: #7d3ec9; color: white; border: none; border-radius: 3px; margin-top: 10px; height: 25px; width: 170px; margin-left: 212px" asp-page-handler="Addjury"/>
                    </div>
                </form>
                <div>
                    Voeg bestaande Jury toe:
                </div>
                @if (@Model.Jury_id == 0)
                {
                    @foreach (var Jurylid in Model.AllJurieslist)
                    {
                        <form method="post" name="TextJuryNotes" id="TextJuryNotes" enctype="multipart/form-data">

                            <div class="row">
                                @Jurylid.jury_naam
                            </div>
                            <div class="row">
                                <input type="hidden" asp-for="@Jurylid.jury_id" value="@Jurylid.jury_id"/>
                                <input type="hidden" name="Festival_id" value="@Model.Festival_id"/>
                                <input type="submit" id="knop" content="Voeg Toe" style="background-color: #7d3ec9; color: white; border: none; border-radius: 3px; margin-top: 10px; height: 25px; width: 170px; margin-left: 212px"
                                       asp-page-handler="AddExistingjury"/>
                            </div>
                        </form>
                    }
                }
            </div>
            <div class="tab-pane fade @Model.active_reclame" id="list-reclame" role="tabpanel" aria-labelledby="list-reclame-list">
                <div class="row">
                    <div class="col-3">
                        <div class="list-group" id="list-tab" role="tablist">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    selecteer Bedrijf
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    @foreach (var bedrijf in Model.Bedrijflist)
                                    {
                                        <li>
                                            <a class="dropdown-item" href="?bedrijf_id=@bedrijf.bedrijf_id">@bedrijf.bedrijf_naam</a>
                                        </li>
                                    }
                                    <li>
                                        <a class="dropdown-item" href="#">voeg nieuw bedrijf toe</a>
                                    </li>
                                </ul>
                            </div>
                            <form method="post" asp-page-handler="AddReclame" enctype="multipart/form-data">
                                <input for="photoButton" id="input2" type="file" name="frontPosted" class="photoButton" accept="image/jpeg, image/png, image/jpg, image/jfif"/>
                                <input name="Company_name" value="@Model.bedrijf_naam"/>
                                <input type="hidden" name="Festival_id" value="@Model.Festival_id"/>
                                <input name="Link"/>
                                <input type="hidden" name="bedrijf_id" value="@Model.Bedrijf_id"/>
                                <button type="submit">VoegToe</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="tab-content" id="nav-tabContent">

                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                </div>
            </div>
        </div>
    </div>
    <!--

    -->
</div>
@if (ViewBag.QRCodeImage != null)
{
    <img src="@ViewBag.QRCodeImage" alt="" style="height:150px;width:150px"/>
}
</div>