@page
@using Org.BouncyCastle.Asn1.X509
@using DigitaalProgrammaBoekje.Pages.Database.Models
@using System.Net.Mime
@using DigitaalProgrammaBoekje.Pages.Database.Repositories
@model DigitaalProgrammaBoekje.Pages.EditScreen

@{
    ViewData["Title"] = "Edit Page";
}
<div class="d-flex flex-row">
    <div class="col-2">
        cijfers
    </div>
    <div class="col-2" style="width: 320px; overflow: auto">
        <table class="table">
            @foreach (var blok in Model.Bloks)
            {
                <tbody>
                <tr>
                    <td>
                        <div class="d-flex; flex-column">
                            @if (blok != Model.Bloks.First())
                            {
                                <form method="post" asp-page-handler="Up">
                                    <input type="hidden" value="@blok.Blok_id" name="blok_id"/>
                                    <input type="hidden" value="@blok.Bloknummer" name="bloknummer"/>
                                    <input type="hidden" value="@blok.Festival_id" name="festival_id"/>
                                    <button type="submit">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>

                                </form>
                            }
                            @if (blok != Model.Bloks.Last())
                            {
                                <form method="post" asp-page-handler="Down">
                                    <input type="hidden" value="@blok.Blok_id" name="blok_id"/>
                                    <input type="hidden" value="@blok.Bloknummer" name="bloknummer"/>
                                    <input type="hidden" value="@blok.Festival_id" name="festival_id"/>
                                    <button type="submit">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                </form>
                            }
                        </div>
                    </td>
                    @if (blok.Blok_type != 't')
                    {
                        <td>@(blok.Begintijd.ToString(@"hh\:mm"))</td>
                        @if (blok.Blok_type == 'o')
                        {
                            <td >
                                @blok.Orkestgroep.Orkestnaam
                                <br/>
                                <p style="white-space: pre-wrap;">@blok.Orkestgroep.Muziekstukken</p> 
                            </td>
                            <td>
                                Cijfer:<br/>
                                @blok.Orkestgroep.Cijfer
                            </td>
                        }
                        else
                        {
                            <td colspan="2">Pauze</td> 
                        }
                    }
                    else
                    {
                        <td colspan="3" style="white-space: pre-wrap;">@blok.Tekstvak</td>
                    }
                    <td>
                        <div class="d-flex; flex-column">
                            <form method="post" asp-page-handler="Update">
                                <input type="hidden" value="@blok.Blok_id" name="blok_id"/>
                                <button type="submit">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </form>
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" value="@blok.Blok_id" name="blok_id"/>
                                <button type="submit">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                            
                        </div>
                    </td>
                </tr>
                </tbody>
            }
        </table>
        <form method="post" asp-page-handler="Selection">
            <button>
                <i class="fa fa-plus-circle"></i>
            </button>
        </form>
    </div>
    <div class="row col-8">
        @if (Model.Blok_id == 0)
        {
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action" id="list-Text-list" data-bs-toggle="list" href="#list-Text" role="tab" aria-controls="list-Text">Tekstvak</a>
                    <a class="list-group-item list-group-item-action" id="list-pauze-list" data-bs-toggle="list" href="#list-pauze" role="tab" aria-controls="list-pauze">Pauze</a>
                    <a class="list-group-item list-group-item-action" id="list-orkest-list" data-bs-toggle="list" href="#list-orkest" role="tab" aria-controls="list-orkest">Orkest</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a>
                </div>
            </div>
        }
        else
        {
            <a href="/EditScreen">Nieuwe</a>
        }
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade @Model.active_tekstvak" id="list-Text" role="tabpanel" aria-labelledby="list-Text-list">
                    <form method="post" name="TextNotes" id="TextNotes">
                        <div class="row">
                            <textarea name="Text1" id="Text1" cols="60" rows="10" form="TextNotes">@Model.Text</textarea>
                        </div>
                        <div class="row">
                            <input type="hidden" asp-for="Blok.Blok_id" value="@Model.Blok_id"/>
                            <input type="hidden" asp-for="Blok.Blok_type" value="t"/>
                            <input type="hidden" asp-for="Blok.Begintijd" value="@TimeSpan.Zero"/>
                            <button asp-page-handler="save">opslaan</button>
                            <button asp-page-handler="remove">verwijder</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade @Model.active_pauze" id="list-pauze" role="tabpanel" aria-labelledby="list-pauze-list">
                    <form method="post" name="TextNotes" id="TextNotes">
                        <input type="Time" asp-for="Blok.Begintijd" value="@Model.Time"/>
                        <input type="hidden" asp-for="Blok.Blok_id" value="@Model.Blok_id"/>
                        <input type="hidden" asp-for="Blok.Blok_type" value="p"/>
                        <div class="row">
                            <button asp-page-handler="save">opslaan</button>
                            <button asp-page-handler="remove">verwijder</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade @Model.active_orkest" id="list-orkest" role="tabpanel" aria-labelledby="list-orkest-list">
                    <form method="post" name="Text2Notes" id="Text2Notes">
                        <input type="Time" asp-for="Blok.Begintijd" value="@Model.Time"/>
                        <input type="Text" asp-for="Blok.Orkestgroep.Orkestnaam" value="@Model.OrkestNaam"/>
                        <input type="number" asp-for="Blok.Orkestgroep.divisie" value="@Model.Divisie"/>
                        <div class="row">
                            <textarea name="Text2" id="Text2" cols="60" rows="10" form="Text2Notes">@Model.Text</textarea>
                        </div>
                        <div class="row">
                            <input type="hidden" asp-for="Blok.Blok_type" value="o"/>
                            <input type="hidden" asp-for="Blok.Orkestgroep.Orkest_id" value="@Model.Orkest_id"/>

                            <button asp-page-handler="save">opslaan</button>
                            <button asp-page-handler="remove">verwijder</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
            </div>
        </div>
    </div>
<!--

-->
</div>