@page
@model DigitaalProgrammaBoekje.Pages.HomeScreen

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/HomeScreen.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="_Layout.cshtml.css"/>
    <link rel="stylesheet" href="~/DigitaalProgrammaBoekje.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-red border-bottom" style="background-color: #f5958c">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav justify-content-between flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                        <div style="color: white">Festivals</div>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var jaar in Model.FestivalYears)
                        {
                            <li>
                                <a class="dropdown-item" href="?Jaartal=@jaar.Festival_datum.ToString("yyyy")">@jaar.Festival_datum.ToString("yyyy")</a>
                            </li>
                        }
                        
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Login">
                        <div style="color: white">Login</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="bg-modal">
    <form method="post" enctype="multipart/form-data" style="height: 100%">
        <div class="modal-content">

            <div class="close">+</div>

            <div class="row" style="margin-top: 50px">
                <label id="Label1">Naam festival</label>
                <input asp-for="Festival.Festival_naam" type="text" id="input1" class="form-control" placeholder="Festival Naam" required style="text-align: center"/>
                <span class="invalid-feedback" asp-validation-for="Festival.Festival_naam"></span>
            </div>
            <div class="row">
                <label id="Label1">Locatie festival</label>
                <input asp-for="Festival.Festival_locatie" type="text" id="input1" class="form-control" placeholder="Festival Locatie" required style="text-align: center"/>
                <span class="invalid-feedback" asp-validation-for="Festival.Festival_locatie"></span>
            </div>
            <div class="row">
                <label id="Label1">datum festival</label>
                <input asp-for="Festival.Festival_datum" type="date" id="input1" class="form-control" placeholder="Festival Datum" required style="text-align: center"/>
                <span class="invalid-feedback" asp-validation-for="Festival.Festival_datum"></span>
            </div>
            <div class="row">
                <label id="Label1">Logo festival</label>
                <span class="kop spacing">Selecteer logo festival:</span>
                <input for="photoButton" id="input1" type="file" name="frontPosted" class="photoButton" accept="image/jpeg, image/png, image/jpg"/>
            </div>
            <input type="submit" id="knop" style="background-color: #7d3ec9; color: white; border: none; border-radius: 3px; margin-top: 10px; height: 25px; width: 170px; margin-left: 212px" asp-page-handler="Upload">Voeg festival toe</input>
        </div>
    </form>
</div>


<div class="container" id="FestivalListGeneraetor">
    <div class="row col-12">
        @if (Model.Festivallist != null)
        {
            foreach (var Festivalitem in Model.Festivallist)
            {
                <div class="col-3" id="cart" style="width: 300px; height: 300px;">
                    <div class="card" style="width: 300px; height: 300px;">
                        <img class="card-img-top" id="FImg1" style="object-fit: fill; height: 150px; width: 300px;" src="~/content/@Festivalitem.Festival_logo" alt="Card image cap">
                        <div class="card-body" style="height: 150px; width: 300px;">
                            <h5 class="card-title" style="margin: 0px">@Festivalitem.Festival_naam</h5>
                            <p class="card-text">@(Festivalitem.Festival_datum.ToString("yyyy-MM-dd"))</p>
                            <p class="card-text">@Festivalitem.Festival_locatie</p>
                            <form asp-page-handler="Update" method="post">
                                <input type="hidden" name="Festival_id" value="@Festivalitem.Festival_id"/>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }


    </div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/css/HomeScreen.js"></script>
</body>
</html>