@page
@model DigitaalProgrammaBoekje.Pages.Update_jury

@{
    ViewData["Title"] = "Bedrijven";
}

<table class="table table-bordered">
    <div class="col-6" style="background-color: white; border-left: 2px solid #56A28E;">
        <h2 class="d-flex justify-content-center" style="margin-top: 10px">Jury informatie</h2>
        @foreach (var jury in Model.Jurylids)
        {
            <tr>
                <th>Username: </th>
                <form method="post" asp-page-handler="UpdateNaam">
                    <input type="hidden" value="@jury.jury_id" name="jury_id"/>
                    <td>
                        <input value="@jury.jury_naam" name="NaamUpd"/>
                        <button type="submit" style="background-color: red; color: white; border-radius: 8px; border: none; margin-left: 10px; width: 175px; height: 30px; margin-top: 10px" name="Username">Verander Naam</button>
                    </td>
                </form>
            </tr>
            <tr>
                <th>bio: </th>
                <form method="post" asp-page-handler="UpdateBio" name="TextJuryNotes" id="TextJuryNotes">
                    
                    <input type="hidden" value="@jury.jury_id" name="jury_id"/>
                    <td>
                        <div class="row">
                                                                    <textarea name="TextJury" id="TextJury" cols="60" rows="10" form="TextJuryNotes" placeholder="Jury Biographie">@jury.jury_bio</textarea>
                                                                </div>
                        <button type="submit" style="background-color: red; color: white; border-radius: 8px; border: none; margin-left: 10px; width: 175px; height: 30px; margin-top: 10px" name="Username">Verander bio</button>
                    </td>
                </form>
            </tr>
            <tr>
                <th>Foto: </th>
                <form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
                    <input type="hidden" value="@jury.jury_id" name="jury_id"/>
                    <td>
                        <img style="object-fit: fill; height: 200px; width: 200px;" src="~/content/@jury.jury_foto" alt="Card image cap">
                        <input for="photoButton" id="input1" type="file" name="frontPosted" class="photoButton" accept="image/jpeg, image/png, image/jpg"/>
                        <button type="submit" style="background-color: red; color: white; border-radius: 8px; border: none; margin-left: 10px; width: 175px; height: 30px; margin-top: 10px" name="Username">Verander Foto</button>
                    </td>
                </form>
            </tr>
        }
    </div>
</table>

<form method="post" asp-page-handler="Terug">
    <button style="color: white; background-color: red; border-radius: 4px; margin: 10px; border: transparent">Terug naar de bedrijven en juryleden</button>
</form>